global:
  scrape_interval: 1s

scrape_configs: 
  - job_name: 'prometheus'
    scrape_interval: 1s
    static_configs:
      - targets: ['localhost:9090']	
  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: 'button'
    static_configs:
      - targets: ['localhost:8000']
